.alarmPage {
    width: 100%;
    height: 100vh;
}

.alarmArrow {
    margin-left: 15px;
    margin-top: 59px;
}

.alarmTitle {
    margin-left: 5px;
    margin-top: -23px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 137.5% */
    letter-spacing: -0.408px;
}

.matchingAlarm {
    margin-left: 71px;
    margin-top: 22px;
    width: 60px;
    height: 21px;
    flex-shrink: 0;
    color: #EB604A;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 555;
    line-height: 22px; /* 157.143% */
    letter-spacing: -0.408px;
}

.infoAlarm {
    margin-left: 267px;
    margin-top: -35.5px;
    width: 60px;
    height: 21px;
    flex-shrink: 0;
    color: #9E9E9E;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 555;
    line-height: 22px; /* 157.143% */
    letter-spacing: -0.408px;
}

.lineAlarm {
    margin-top: 10px;
    width: 198px;
    height: 3px;
    background: #EB604A;
}

.bgAlarm {
    width: 393px;
    height: 852px;
    background: #F2EDED;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.date {
    margin-top: -830px;
    color: #838383;
    text-align: center;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 510;
    line-height: 22px; /* 169.231% */
    letter-spacing: -0.408px;
}

.rectangle {
    margin-left: 37px;
    margin-top: 30px;
    width: 317px;
    height: 130px;
    border-radius: 14px;
    background: #FFF;
}

.circle {
    margin-left: 30px;
    margin-top: -20px;
}

.rectangle-border-radius {
    margin-left: 25px;
    margin-top: 10px;
    width: 168px;
    height: 33px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #F3C7C0;
}

.text {
    margin-left: 40px;
    margin-top: -28px;
    width: 300px;
    color: #000;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.408px;
}

.content {
    margin-left: 30px;
    margin-top: 20px;
}