.Login{
    width: 100%;
    height: 100%;
    color: #E8EE7F;
    background: #EB604A;
    align-items: center;
    justify-content: center;
}

.titleDiv{
    padding-top: 30px;
    text-align: center;
}


.loginTitle{
    margin: 0;
    color: #FFF;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 38px; /* 135.714% */
    letter-spacing: -0.31px;
    padding-bottom: 50%;
}

.appTitle {
    margin-top: 5px;
    margin-bottom: 0;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: 38px; /* 105.556% */
    letter-spacing: -0.31px;
}

.logoDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50%;
}


.kakaoLogin{
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.kakao{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F9E000;
    border-radius: 10px;
    height: 50px;
    width: 353px;
}

.kakao p {
    margin: 0;
    color: black;
}