.MainNav {
    display: flex;
    justify-content: center;
    align-content: center;
    position: fixed;
    width: 393px;
    height: 73px;
    bottom: 0;
    z-index: 11;
    background-color: #FFFFFF;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1), -5px 0 10px rgba(0, 0, 0, 0.1);
}


.MainFooterDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 342px;
}

.footerCircle{
    position: relative;
    z-index: 12;
    top: -30px;
    left: 6px;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1), -5px 0 10px rgba(0, 0, 0, 0.1);
}

.plusInCircle {
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    z-index: 13;
    top: 9px;
    left: 10.5px;
    cursor: pointer;
}

.grayCircle {
    position: absolute;
    z-index: 11;
}

.orangeCircle{
    position: absolute;
    top: 9.5px;
    left: 6.5px;
    z-index: 12;
}

.mainFooterHome {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.mainFooterList {
    cursor: pointer;
}

.mainFooterAlarm{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.mainFooterProfile {
    width: 23px;
    height: 23px;
    margin-right: 10px;
    cursor: pointer;
}