@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

.purposeMainPage {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

.purposeMainPage::-webkit-scrollbar{
    display: none;
}

.matchingText {
    display: flex;
    width: 100%;
}

.matchStrongText {
    margin: 0;
    color: #EB604A;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.matchingStartDiv {
    margin-left: 34px;
    padding-top: 50px;
    display: flex;
}

.peopleImgDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.peopleImg {
    width: 211px;
    height: 145px;
}

.matchingButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.planeMatchText {
    margin: 0;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.goMatch {
    margin-top: 20px;
    padding: 10px 25px;
    background-color: #FFFFFF;
    border-radius: 40px;
    border: 2px solid #EB604A;
    color: #EB604A;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.purposeDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.purpose {
    width: 343px;
    margin-top: 60px;
    margin-bottom: 73px;
}

.purposeText {
    margin: 0;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.purposeUnderText {
    margin-top: 5px;
    margin-bottom: 0;
    color: #C2C2C2;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.purposeButtonDiv {
    margin-top: 30px;
}

.purp {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    z-index: 1;
}

.sports, .pet, .cook, .roommate, .study, .read, .eat, .baby, .single, .game, .trip, .paint, .music, .ott, .dance, .photo {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.roommateIcon {
    padding-top: 8px;
}


.disable {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.textPurpose {
    margin: 0;
    color: #7B7A7A;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 150% */
    letter-spacing: -0.408px;
}

.petTextPurpose {
    margin: 0;
    color: #7B7A7A;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 150% */
    letter-spacing: -0.408px;
    padding-top: 42px;
}

.select {
    margin: 0;
    color: #EB604A;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 150% */
    letter-spacing: -0.408px;
}

.petSelect {
    margin: 0;
    color: #EB604A;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 150% */
    letter-spacing: -0.408px;
    padding-top: 42px;
}

.checked.sports {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 45px;
    top: -10px;
    z-index: 10;
}

.checked.pet {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 45px;
    top: -10px;
    z-index: 10;
}

.checked.cook {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 45px;
    top: -10px;
    z-index: 10;
}

.checked.roommate {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 45px;
    top: -10px;
    z-index: 10;
}

.checked.study {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 45px;
    top: -10px;
    z-index: 10;
}

.checked.read {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 45px;
    top: -10px;
    z-index: 10;
}

.checked.eat {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 45px;
    top: -10px;
    z-index: 10;
}

.checked.baby {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 45px;
    top: -10px;
    z-index: 10;
}

.checked.single {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 45px;
    top: -10px;
    z-index: 10;
}

.checked.game {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 45px;
    top: -10px;
    z-index: 10;
}

.checked.trip {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 45px;
    top: -10px;
    z-index: 10;
}

.checked.paint {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 45px;
    top: -10px;
    z-index: 10;
}

.checked.music {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 45px;
    top: -10px;
    z-index: 10;
}

.checked.ott {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 45px;
    top: -10px;
    z-index: 10;
}

.checked.dance {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 45px;
    top: -10px;
    z-index: 10;
}

.checked.photo {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 45px;
    top: -10px;
    z-index: 10;
}

.purposeDog {
    position: absolute;
    left: 25px;
    top: 15px;
    z-index: 10;
}

.purposeCat {
    position: absolute;
    left: 10px;
    top: 0;
    z-index: 9;
}

.modalDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.modalNoticeDiv {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.noticeCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    background-color: #EB604A;
    border-radius: 30px;
}

.modalNotice {
    margin: 0;
    color: #FFF;
    font-family: Kavoon;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.modalButton {
    width: 100%;
    display: flex;
    justify-content: center;
}

.modalButtonDiv {
    width: 280px;
    display: flex;
    justify-content: space-between;
}

.modalCloseButton {
    padding: 0;
    width: 128px;
    height: 42px;
    border: none;
    border-radius: 10px;
    background: #FFEDED;
    color: #000;
    font-family: K2D;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.modalAcceptButton {
    padding: 0;
    width: 128px;
    height: 42px;
    border: none;
    border-radius: 10px;
    background: #EB604A;
    color: #FFF;
    font-family: K2D;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.modalContextDiv{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 20px;
}

.modalContext {
    display: flex;
}

.modalRoommate {
    margin: 0;
    color: #EB604A;
    font-family: K2D;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.modalText {
    margin: 0;
    color: #000;
    font-family: K2D;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.modalUnderContextDiv {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.modalUnder {
    margin: 0;
    color: #838383;
    font-family: K2D;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}