.RegisterPage4 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.registerPage4Title p{
    margin: 0;
}

.registerPage4Title {
    margin-top: 30px;
    margin-left: 33px;
    display: flex;
    flex-direction: row;
}

.register4SmallText {
    margin-top: 28px;
    margin-left: 22px;
    margin-bottom: 18px;
    color: #A0A0A0;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.username {
    color: #EB604A;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.placeDiv {
    margin-left: 30px;
    margin-top: 30px;
}
