.RegisterPage1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.registerContent {
    width: 100%;
    overflow-y: auto; /* 세로 스크롤바를 표시합니다. */
    margin-bottom: 50px;
}

.registerTextDiv {
    margin-left: 33px;
    margin-top: 30px;
}


.registerText {
    margin: 0;
    color: #000;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.48px;
}

.registerSmallText {
    margin-top: 9px;
    color: #C2C2C2;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.registerSelect1 {
    width: 327px;
    margin-left: 32px;
}

.gender, .name, .kakaoTitle, .age, .height {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.smoke {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}



.gender p, .kakaoText, .name p, .age p, .height p, .smoke p{
    color: #A0A0A0;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.genderButtonDiv, .smokeButtonDiv{
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.heightRange {
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: center;
}

.heightRange p{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
}

.genderButton {
    padding: 10px 30px;
    color: #A0A0A0;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: rgba(0,0,0,0);
    border-radius: 30px;
    border: 2px solid #AEAEAE;
    cursor: pointer;
}

.smokeButton{
    color: #A0A0A0;
    padding: 10px 20px;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: rgba(0,0,0,0);
    border-radius: 30px;
    border: 2px solid #AEAEAE;
    cursor: pointer;
}

.nameInput{
    width: 200px;
}


.nameInput input {
    border: none;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    background: #F2F4F5;
    color: #000;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 17px;
    font-style: normal;
    line-height: normal;
}

.selectedGender {
    color: white;
    padding: 10px 30px;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #EB604A;
    border-radius: 30px;
    border: 2px solid #EB604A;
    cursor: pointer;
}

.selectedSmoke {
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #EB604A;
    border-radius: 30px;
    border: 2px solid #EB604A;
    cursor: pointer;
}

.kakaoUnderText {
    color: #C2C2C2;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
}